doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src = "/javascripts/vendors/underscore-min.js")
    script(src = "/javascripts/vendors/jquery-min.js")
    script(src = "/javascripts/vendors/backbone-min.js")
    script(src = "/javascripts/app.js")
  body
    block content